ion-content {
    --background: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/496ecb14589707.562865d064f9e.png') no-repeat center/cover fixed;
}

ion-toolbar {
    --ion-background-color: transparent;
    --opacity: 0;
}